.psci
.psci_modules/
generated-docs/
node_modules/
output/
output.bak/
tmp/
/*.log
tags
/.psc-ide-port
.spago
.spec-results
.vscode/
java_output/
classes/
.spago/
.purmeta/
*.class
*.java.bak
.DS_Store
